.my-table {
   margin-top: 30px;
  
   display: flex;
   flex-direction: column;
   @media (max-width:$mobile) {
	width: 400px;
}
	&__header {
		display: flex;
		width: 600px;
		align-items: center;
		@media (max-width:$mobileSmall) {
			padding: 3px 7px;
	}
    p:not(:first-child) {
		margin-left: 100px;
	}
	p:last-child {
		margin-left: 40px;
	}
	@media (max-width:$mobile) {
		p:not(:first-child) {
			margin-left: 0px;
		}
		p:last-child {
			margin-left: 0px;
		}
}
	}

	&__title {
		display: flex;
		justify-content: center;
		align-items: center;
        @include adaptiveValue("font-size", 18, 9);
		line-height: 120%;
		border: 1px solid #D0CFCF;
		flex-basis: auto;
		padding: 7px 15px;
		font-weight: 900;
		background-color: rgba(239, 246, 252,0.8);
		border: 1px solid rgba(156, 156, 156, 0.7);
		cursor: pointer;

		&:hover {
			transition: 0.4s;
			background: rgba(255, 248, 56, 1);
		}
		svg {
			margin-left:10px ;
			width: 15px;
			height: 15px;
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		margin-top: 20px;
		width: 600px;
		justify-content: space-around;
		@media (max-width:$mobile) {
			width: 400px;
	}
		@media (max-width:$mobileSmall) {
			padding: 3px 7px;
	   }
	}

}